.py-5.bg-dark.text-white
  .container
    .row
      .col-md-9
        %p.lead About us
        .row
          .col-md-4
            %p Blog
          .col-md-4
            %p Our history
          .col-md-4
            %p Commerce
      .col-4.col-md-1.align-self-center
        %a{:href => "https://www.facebook.com", :target => "_blank"}
          %i.fab.fa-3x.fa-facebook-square
      .col-4.col-md-1.align-self-center
        %a{:href => "https://twitter.com", :target => "_blank"}
          %i.fab.fa-3x.fa-twitter-square
      .col-4.col-md-1.align-self-center
        %a{:href => "https://www.instagram.com", :target => "_blank"}
          %i.fab.fa-3x.fa-instagram
    .row
      .col-md-12.mt-3.text-center
        %p © Copyright 2017 Quick Sales Culiacán - All rights reserved.