.row
    .col-md-6
        %h1 Home#index
    .col-md-6
        %p.text-center Find me in app/views/home/index.html.haml
        %p  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
